*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/.idea/caches/
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
.idea/assetWizardSettings.xml
.idea/render.experimental.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
Safepal/app/release/
app/release/app-release.apk
app/release/output.json
.idea/gradle.xml
